# Windows default autosave extension
*.asv

# Shortcut files
*.lnk

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Settings folder
Palladium DAQ - Settings/

# Drivers
Palladium DAQ/Instrument Drivers/Paragraf MIST/
Palladium DAQ/Instrument Drivers/Zurich Instruments/
Palladium DAQ/Instrument Drivers/Quantum Design/

# Presets other than the default example and the PPMS example
Palladium DAQ/+PalladiumPresets/ADR.m
Palladium DAQ/+PalladiumPresets/Testing.m

# Batch script
palladium_push.bat
