# Windows default autosave extension
*.asv

# Shortcut files
*.lnk

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Settings folder
Palladium DAQ/Palladium DAQ - Settings/

# Batch script
palladium_push.bat

#Project and toolbox automatic files
deploymentLog.html
derived/*
resources/*

#Python cache files
*.pyc
*.cpyth